body {
    background-color: black;
}

h5 {
    color: yellow;
    font-size: 5rem;
    text-align: center;
}

ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

li {
    list-style: none;
    font-size: 1rem;
    color: #fff;
}

section {
    border: 20px solid #fff;
}

p {
    color: red;
    text-align: center;
    margin-top: 2rem;

}

h1 {
    color: #fff;
}